<!DOCTYPE html>
<html lang = 'en'>
<head>
<meta charset = 'utf_8'>
  <title>My Site</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>

<h1>My Site homework</h1>
    <%=yield%>
</body>
</html>